name: WALRUS tests

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  autotests:
    name: Run tests

    runs-on: ubuntu-24.04
    container:
      image: supabase/postgres:17.6.1.054
      options: --tmpfs=/pgtmpfs -e PGDATA=/pgtmpfs

    steps:
      - uses: actions/checkout@v3

      - name: Run Test
        run: |
          # install wal2json
          cd wal2json
          apt-get update && apt-get install postgresql-17-wal2json
          chown -R postgres /__w/walrus/walrus
          su postgres -c 'export PATH=$PATH:/usr/lib/postgresql/17/bin/ ; bin/installcheck'

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: regression.out-${{ matrix.runs-on }}
          path: regression-${{ matrix.runs-on }}.out
          retention-days: 7
